
.LoadingSpinner__Container { margin-top: 100px; background-color: #fefefe; color: #323232; text-align:center; }

.LoadingSpinner__Container .LoadingSpinner {
  display: inline-block;
  width: 3rem;
  height: 3rem;
  border: 5px solid rgba(0, 122, 75, 0.25);
  border-radius: 50%;
  border-top-color: #036241;
  animation: spin 1s ease-in-out infinite;
  -webkit-animation: spin 1s ease-in-out infinite;
}

.LoadingSpinner__Container p {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

@keyframes spin {
  to { -webkit-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
  to { -webkit-transform: rotate(360deg); }
}